vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 May 2016 09:01:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Yunomi-PC\\Yunomi
vti_modifiedby:SR|Yunomi-PC\\Yunomi
vti_timecreated:TR|27 May 2016 09:01:47 -0000
vti_cacheddtm:TX|27 May 2016 09:01:47 -0000
vti_filesize:IR|4484
vti_cachedlinkinfo:VX|S|pictures/Table_re.jpg S|pictures/profiles/Easy.jpg S|pictures/profiles/User.jpg S|pictures/arrowLeft.png S|pictures/arrowRight.png
vti_cachedsvcrellinks:VX|FSUS|Gem-Collector/GameBoard_Version3/pictures/Table_re.jpg FSUS|Gem-Collector/GameBoard_Version3/pictures/profiles/Easy.jpg FSUS|Gem-Collector/GameBoard_Version3/pictures/profiles/User.jpg FSUS|Gem-Collector/GameBoard_Version3/pictures/arrowLeft.png FSUS|Gem-Collector/GameBoard_Version3/pictures/arrowRight.png
vti_backlinkinfo:VX|Gem-Collector/GameBoard_Version3/animationTest.html Gem-Collector/GameBoard_Version3/index.html
