body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	background-color: #83574b;
}

#Border {
	width: 300px;
}

.ScoreBox {
	width: 40px;
	height: 110px;
	background-color: gray;
	float: left;
}

.Block {
	width: 200px;
	height: 75px;
	float: left;
}

.MidBlock {
	width: 40px;
	height: 110px;
	background-color: red;
	float: left;
}

.HalfCircle {
	width: 200px;
    height: 100px; /* as the half of the width */
    float: left;
}

#Boss1 {
	border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 10px solid white;
    border-bottom: 0px;
}

.BodyBlock {
	width: 40px;
	height: 80px;
	background-color: #ce9eeb;
	float: left;
}

.GameBoard {
	width: 95px;
	height: 70px;
	border-left: 10px solid white;
	border-top: 10px solid white;
	float: left;
}

.GameBoardRight {
	border-right: 10px solid white;
}

.Profile {
	background-color: blue;
}

#Boss2 {
	border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
    border-top: 1px;
    border: 10px solid white;
}