body {
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	background-image: url(pictures/Table_re.jpg);
	width: 60em;
	height: 100%;
}

#Border {
	width: 62em;
	height: 29em;
	background-repeat: no-repeat;
}

.Words {
    vertical-align: central;
    padding: 0.75em 0em 0em 0.5em;
    font-size: 1em;
    font-family: "Showcard Gothic", 'Times New Roman';
    color: white;
}

.ScoreBox {
    width: 9em;
	height: 4.5em;
	border: 0.5em solid #CCCCCC;
	float: left;
}

.Block {
	width: 10em;
	height: 5.5em;
	float: left;
}

.Pipe {
	width: 8em;
	height: 17em;
	float: left;
}

.BodyBlock {
	width: 8em;
	height: 5.5em;
	float: left;
}

.Profile {
	width: 8em;
	height: 5.5em;
	float: left;
}

#OppntProfile {
	background-image: url(pictures/Profiles/Easy.jpg);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}

#UserProfile {
	background-image: url(pictures/Profiles/User.jpg);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}

.HalfCircle {
	width: 9em;
    height: 17em;
    float: left;
}

.HalfCircle.left {
	border-top-left-radius: 11em;
    border-bottom-left-radius: 11em;
    border: 0.5em solid #CCCCCC;
    border-bottom: 0em;
    position: relative;
}

.HalfCircle.right {
	border-top-right-radius: 11em;
    border-bottom-right-radius: 11em;
    border: 0.5em solid #CCCCCC;
    border-bottom: 0em;
    position: relative;
}

.GameBoard {
	width: 7.5em;
	height: 8em;
	border-right: 0.5em solid #CCCCCC;
	border-top: 0.5em solid #CCCCCC;
	position: relative;
	float: left;
}

.LastPipe {
	width: 8em;
	height: 17em;
	float: left;
}

#Square11 {
	width: 8em;
	height: 8em;
	float: left;
	border-top: 0.5em solid #CCCCCC;
	border-bottom: 0.5em solid #CCCCCC;
	position: relative;
}

#Square1 {
	width: 8em;
	height: 8em;
	float: left;
	position: relative;
}

.BottomSquare {
	border-bottom: 0.5em solid #CCCCCC;
}

.NumberMark {
	width: 2em;
	height: 2em;
	/*border-top: 0.5em solid white;
	border-right: 0.5em solid white;*/
	float: left;
	position: absolute;
	bottom: 0;
	left: 0;
    font-size: 1.5em;
    font-family: "Showcard Gothic", 'Times New Roman';
    color: white;
    text-align: center;
}

.HalfCircle.left .NumberMark{
	width: 2em;
	height: 2em;
	float: right;
	position: absolute;
    left: 3.75em;
}
.BossRoomMark {
    direction: rtl;
}

.cell:hover {
    opacity: 0.5;
    transition: 0.3s
}

.arrowSign {
    width: 7.5em;
	display: none;
}

.arrowSignLeft {
	background-image: url(pictures/arrowLeft.png);
	background-repeat: no-repeat;
    position: absolute;
	width: 20px;
	height: 40px;
    top: 35%;
    float: left;
}

.arrowSignRight {
	background-image: url(pictures/arrowRight.png);
	background-repeat: no-repeat;
	float: right;
	width: 20px;
    height: 40px;
    position: absolute;
    top: 35%;
    right: 0;
}

#UserRight {
	background-repeat: no-repeat;
	background-position: left;
}

#UserRight img {
    padding-top: 0.35em;
}

#UserLeft {
	background-repeat: no-repeat;
	background-position: right;
}

#UserLeft img {
    padding-top: 0.35em;
    margin-left: 70%;
}

#OppntRight {
	background-repeat: no-repeat;
	background-position: left;
}

#OppntRight img {
    
}

#OppntLeft {
	background-repeat: no-repeat;
	background-position: right;
}

#OppntLeft img {
    margin-left: 50%;
}