body {
    padding: 0px 0px 0px 0px;
	background-image: url(../pictures/Background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#Wrapper {
    padding: 0px 0px 0px 0px;
}

.title {
    font-size: 3em;
    color: red;
    font-family: "Showcard Gothic", 'Times New Roman';
}

#playButton {
	width: 5em;
	height: 5em;
	background-color: white;
    float: left;
}

#demoButton {
	width: 5em;
	height: 5em;
	background-color: blue;
    float: left;
}

#rankingButton {
	width: 5em;
	height: 5em;
	background-color: gray;
    float: left;
}