body {
    padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
    background-image: url(Pictures/Background.jpg);
}

#playButton {
    width: 5em;
    height: 5em;
    color: blue;
    float: left;
}

#demoButton {
    width: 5em;
    height: 5em;
    color: gray;
    float: left;
}

#rankingButton {
    width: 5em;
    height: 5em;
    color: navy;
    float: left;
}